        <footer>
            <div class=" row justify-content-center">
                <div class="col-md-5 text-center">
                    <img src="img/logo.png" style="user-select: none;">
                    <br>
                    <strong>Contact Info</strong>
                    <p>
                        0930 911 8777
                        <br>
                        ghegi44@gmail.com
                    </p>

                    <a href="http://www.facebook.com/ghegianimation" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>

                    <a href="http://twitter.com/ghegijmnz" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>

                    <a href="http://instagram.com/ghegijmnz" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <hr class="socket">
                &copy; Copyright 2020


            </div>
        </footer>
